.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-color: black;
}

#evangelion-container {
  width: 100%;
  height: 100%;
  padding: 20px;

  color: white;
  text-align: center;

  display: grid;
  grid-template-columns: 0.7fr 1.7fr 0.6fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "songs player background-image"
    "songs player background-image"
    "songs player background-image";

  padding: 10px;
}

.songs {
  grid-area: songs;
}

.player {
  grid-area: player;
}

.background {
  grid-area: background-image;
}

/*Logo*/
.logo-evangelion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-evangelion img {
  width: 100%;
  height: 150px;
}

/*Button layout*/
#button-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;

  > button {
    height: 30px;
    border-radius: 10px;
    transition: 0.1s;
    border: 1px solid white;
  }

  > button:hover {
    background-color: grey;
    color: whitesmoke;
    border: 1px solid grey;
  }
}

#start-button {
  width: 100px;
}

#start-button:hover {
  background-color: rgb(43, 171, 43) !important;
  color: white;
  border: 1px solid rgb(43, 171, 43) !important;
}

#reset-button {
  width: 100px;
}

#reset-button:hover {
  background-color: rgb(252, 50, 50) !important;
  color: white;
  border: 1px solid rgb(252, 50, 50) !important;
}

#nextlyric-button {
  width: 50px;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

#nextlyric-button:hover {
  border: 1px solid white !important;
}

#nextlyric-button svg {
  width: 20px;
  fill: white;
}

#prevlyric-button {
  width: 50px;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

#prevlyric-button:hover {
  border: 1px solid white !important;
}

#prevlyric-button svg {
  width: 20px;
  fill: white;
}
/*==============================*/

/*Background right hand*/
.background {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.back-frem {
  width: 6.5rem;
  height: 18rem;
  background: white;
  border-radius: 23px;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.back-frem .back-change {
  width: 88px;
  height: 88px;
  background: wheat;
  overflow: hidden;
  cursor: pointer;
  border-radius: 23px;
}

.back-frem .back-change img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pic1 {
  filter: grayscale(0);
  transition: 0.1s;
}

#pic1:hover {
  filter: grayscale(100%);
  transition: 0.1s;
}

#pic2 {
  filter: grayscale(0);
  transition: 0.1s;
}

#pic2:hover {
  filter: grayscale(100%);
}

#pic3 {
  filter: grayscale(0);
  transition: 0.1s;
}

#pic3:hover {
  filter: grayscale(100%);
}
/*==============================*/

/*Player middle container*/
.player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/*Infinite slider*/
.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  overflow: hidden;
  width: 500px;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.text-wrapper:hover h3 {
  animation-play-state: paused;
}

.text-wrapper h3 {
  font-size: 25px;
  white-space: nowrap;
  padding: 0.6rem;
  animation: autoRun 6000ms linear infinite;
}

@keyframes autoRun {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*==============================*/

/*Start display*/
#start-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 50px;
  background-color: #000;

  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

#start-display h2 {
  font-size: 30px;
  white-space: nowrap;
  padding: 0.6rem;
  animation: autoBlink 1000ms linear infinite;
}

#start-display:hover h2 {
  animation: none;
  opacity: 1;
}

@keyframes autoBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*==============================*/

/*Input display*/
.input-display {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  justify-content: center;
  align-items: start;
  width: 600px;
  gap: 10px;
  color: white;
}

#input-wemos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);

  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.75);
}

#input-lyric {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.75);

  > h2 {
    font-size: 50px;
  }

  > p {
    font-size: 30px;
  }
}

#circle-dot{
  border-radius: 50%;
  background-color: #ffffff;
  width: 100px;
  height: 100px;

  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  > p{
    font-size: 35px;
    font-weight: 500;
    margin: 0;
    color: #000;
  }
}
/*==============================*/

/*Lyric word display*/
.lyric-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;

  color: black;
}

#lyric-word-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 150px;
  height: 35px;
  background-color: #ffffff;

  mask-image: linear-gradient(
    to right,
    transparent,
    #ffffff 10% 90%,
    transparent
  );
}

#lyric-word-display h2 {
  margin: 0;
  font-size: 25px;
  white-space: nowrap;
  animation: autoBlink 1000ms linear infinite;
}

#lyric-word-display:hover h2 {
  animation: none;
  opacity: 1;
}
/*==============================*/

/*Lyric of the song display*/
#lyric-of-the-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  padding: 10px;

  color: rgb(255, 255, 255);

  width: 550px;
  height: 60px;

  background-color: rgba(0, 0, 0, 0.75);
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

  > p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    opacity: 1;
  }
}
/*==============================*/

/*Lyric future*/
#lyric-future-of-the-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  padding: 10px;
  color: rgb(0, 0, 0);

  width: 350px;
  height: 25px;

  background-color: rgba(255, 255, 255, 0.75);
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

  > p {
    margin: 0;
    font-weight: 200;
  }
}
